[defaults]
inventory         = ansible/inventory.ini
remote_user       = deploy
private_key_file  = ~/.ssh/id_azure
host_key_checking = False
stdout_callback   = yaml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

[defaults]
hosts = hosts.ini
